<h2>You are viewing <%= @memorabilia.athlete.name %>'s cheapest memorabilia</h2>
<ul>
    <%= render partial: 'memorabilia', locals: {memorabilia: @memorabilia} %>
</ul>
<%= link_to "Back", athlete_memorabilias_path(@memorabilia.athlete) %>