<h2>Here these are what you have in your collection!!</h2>
<ul>
<% @memorabilias.each do |m|%>
    <%= link_to "#{m.athlete.name}\'s #{m.item_type}", athlete_memorabilia_path(m.athlete, m) %>
    <%= link_to 'Edit', edit_athlete_memorabilia_path(m.athlete, m) %><br>
<% end %>
</ul>
<% if @athlete %>
    <%= link_to 'New Memomorabilia', new_athlete_memorabilia_path(@athlete) %>
<% else%>
    <%= link_to 'New Memomorabilia', new_memorabilia_path %>
<% end %>
