<h2>Welcome to My Memorabilia</h2>

<% if user_signed_in? %>
    <ul>
        <li><%= "Welcome, #{ @user.username }" %></li>
        <li><%= link_to 'Memorabilias', memorabilias_path %></li>
    </ul>
<% else %>
    <p> Please Signin or Signup for our please!!! </p>
<% end %>